---
    import Navigation from "./Navigation.astro";
    import Hamburger from "./Hamburger.astro";
---
<header>
    <nav>
        <Hamburger></Hamburger>
        <Navigation></Navigation>
    </nav>
</header>
